footer{
    .container{
        position: relative;
        z-index: 99;
    }
    svg{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 70px;
color: #fff;
fill:#fff;
    }
    img{
        width: 150px;
    }
    .social-icons{
        margin: 24px 0;
        a{color:#fff;text-decoration: none; margin-right: 16px; font-size: 20px;}
    }
    iframe{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
    background-image: url(../../assets/images/alexander-popov-522100-unsplash.jpg);
    padding: 150px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    color: $text;
    }