<footer class="footer text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
        </svg>
    <div class="container">
            <div class="logo"><a href="index.html"><img src="assets/images/logo@2x_white.png" alt=""></a></div>
            <div class="social-icons">
                <a href="#">
                
                <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
               
                <i class="fab fa-youtube"></i>
                </a>
                <a href="#">
                
                <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
               
                <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                
                <i class="fab fa-spotify"></i>
                </a>
                <a href="#">
                
                <i class="fab fa-apple"></i>
                </a></div>
                <p>&copy;Music WordPress Theme for Singer & Bands by ThemeGoods.</p>
    </div>
    <!-- <iframe class="elementor-background-video-embed" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/2Gg6Seob5Mg?autoplay=1&mute=1&controls=0"> -->
    <!-- </iframe> -->
    
</footer>