.btn{
    border: 1px solid #fff;
  text-transform: capitalize;
  padding:10px 30px;
  border-radius: 0;
  font-weight: bold;
  color:$text;
  transition: all 0.3s;
}
.btn-secondary{
  padding: 10px 30px;
  background-color:#ff2d55;
  color:#fff;
  text-transform: capitalize;
  font-weight: bold;
  border-color:2px solid #ff2d55;
  transition: all 0.3s;
  text-decoration: none;
  &:hover{
    transform: translateY(-8px);
    background-color: #fff;
    color:$secondary;
  }
}