.mobile-menu{
    height: 100%;
    position: fixed;
    top:0;
    background-color: $text;
    z-index:-1;
    width: 0px;
    transition: all 0.3s;
    box-shadow: 0 0 10px 0 rgba(1, 1, 1,0.1);
    &.show{
        z-index:99;
        width:270px;
    }
    .menu{height: 100%;
        overflow-y: auto;
.submenu{
    display: none;
}
    ul{
    padding:40px;
        display: flex;
        flex-direction: column;       
        justify-content: space-between;
        list-style: none;
        min-height: 300px;
        height: 100%;
        overflow-y: auto;
        li{
            a{
               text-decoration: none;text-transform: capitalize;color:$dark;font-weight: bold;
            }i{font-size: 14px;margin-right: 16px;
                }}
    }}
}