<div class="mobile-menu">
    <div class="menu">
        <ul class="home submenu">
            <li class="back"><i class="fas fa-chevron-left"></i> <a href="#">Back</a></li>
            <li><a href="#">Home 1 - Female Artist</a></li>
            <li><a href="#">Home 1 - R & B Singer</a></li>
            <li><a href="#">Home 1 - Male Artist</a></li>
        </ul>
            <ul class="main-menu">
                <li class="active" id="home"><a href="#">home <i class="fas fa-chevron-right"></i></a>


</li>


                <li id="discography"><a href="#">discography 
</a></li>
                <li id="tour"><a href="#">tour 
</a></li>
                <li><a href="#">media 
</a></li>
                <li><a href="#">pages 
</a></li>
                <li><a href="#">blog 
</a></li>
            </ul>
         
    </div>
</div>