<header id="myHeader">
<div class="container">
<div class="nav_area">

        <div class="logo"><a href="index.html"><img src="assets/images/logo@2x_white.png" alt="" class="lightLogo">
            <img src="assets/images/logo@2x.png" alt="" class="darkLogo"></a>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li class="active"><a href="/">home 
<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>
<div class="submenu">
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <ul>
                <li><a href="/">Home 1 - Female Artist</a></li>
                <li><a href="home2.html">Home 2 - R & B Singer</a></li>
                <li><a href="#">Home 1 - Male Artist</a></li>
            </ul></div>
            <div class="col-md-4"> <ul>
                <li><a href="#">Home 1 - Female Artist</a></li>
                <li><a href="#">Home 1 - R & B Singer</a></li>
                <li><a href="#">Home 1 - Male Artist</a></li>
            </ul></div>
            <div class="col-md-4"> <ul>
                <li><a href="#">Home 1 - Female Artist</a></li>
                <li><a href="#">Home 1 - R & B Singer</a></li>
                <li><a href="#">Home 1 - Male Artist</a></li>
            </ul></div>
   
</div>
</div>
</div>
</li>
<li><a href="#">media 
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a></li>

                    <li><a href="#">discography 
<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a></li>
                    <li><a href="#">tour 
</a></li>
                    
                   
                    <li><a href="#">blog 
</a></li>
                </ul>
            </nav>
        </div>
        <div class="action"><a href="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i>
        <span>0</span>
        </a>
        <button id="menu-bar">
            <span></span>
        </button>
        </div>
            </div>
</div>
</header>